<!-- フッター（共通パーツ） -->
<footer class="bg-light text-center text-muted py-3 mt-4 border-top">
    <!-- SNSアイコン -->
    <div class="mb-3">
        <a href="#" target="_blank" class="mx-2">
        <i class="fab fa-x-twitter fa-lg"></i>
        </a>
        <a href="#" target="_blank" class="mx-2">
        <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="#" target="_blank" class="mx-2">
        <i class="fab fa-youtube fa-lg"></i>
        </a>
        <a href="#" target="_blank" class="mx-2">
        <i class="fab fa-tiktok fa-lg"></i>
        </a>
    </div>
    <small>
        &copy; 2025 Anabuki College Band. 
        <a href="../pages/copyrights.html" class="link-underline">権利表記</a>
    </small>
</footer>

